<div class="centered_page">
	<br>
	<%= @test %>
	<h2>Enter a vine.co address:</h2>
	<%= form_for :vine, :url => add_vine_path do |f| %>
  	<%= f.text_field :vine_url %>
  	<%= f.submit "Add" %>
	<% end %>
	<br><br><br><br><br><br><br><br><br>
</div>